body {
    background: url("../vendor/img/1.jpg") no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding-top: 56px;
    box-sizing: border-box;
    text-align: center;
}

.warning{
    font-family: 'Pacifico', fantasy;
    text-align: center;
    border-color: #414124;
    color: white;
    font-size: 20pt;
    padding-left: 30px;
}

.btn btn-lg {
    background-color: black;
}

.coupons-content{
    font-family: cursive;
}

.coupons-title{
    font-family: cursive;
}

.coupons-price{
    font-family: cursive;
}

#start-purchase-btn {
    background-color: #ffffff;
    border-color: #000000;
    border-radius: 16.3rem;

}

#start-purchase-link {
    text-decoration: none;
    color: black;
    position: static;
}

.coupon {
  border: 3px solid white;
  border-radius: 105px;
}

.title-h2 {
    font-family: 'Ultra', serif;
    font-size: 40pt;
    text-align: center;
    padding-top: 30px;
    color: white;
}

img{
    padding-top: 10px;
    border-radius: 25px;
}

.coupons-items {
    font-family: 'Anton', sans-serif;
    padding-left: 300px;
    padding-top: 0px;
    padding-right: 300px;
    display: inline-grid;
    gap: 27px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(50px);
    justify-content: space-around;
    font-size: 12pt;
}

.coupon {
    text-align: center;
    color: white;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-family: 'Pacifico', fantasy;
}

.coupons-price {
   font-size: 20pt;
}

.coupons-title {
    font-size: 20pt;
}

.container {
    color: white;
    padding-left: 23.5px;
    height: 25px;
}

.collapse navbar-collapse{
    padding-left: 50px;
}

img {
    width: 300px;
    height: 210px;
}

nav {
    text-align: center;
    padding: 40px 0 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    display: block;
    padding: center;
}

.topmenu > li {
    font-family: 'Ultra', serif;
    display: inline-block;
    position: relative;
}

.topmenu > li > a {
    font-family: 'Pacifico', fantasy;
    color: #fff;
    padding-top: 1000px;
    padding: center
    padding-left: 1000px;
    position: static;
    font-size: 2em;
    line-height: 1;
    letter-spacing: 3px;
}

.nav-link{
    font-family: 'Pacifico', fantasy;
}

.topmenu > li > a:before {
    content: "";
    position: relative;
    z-index: 5;
    left: 100%;
    top: 100%;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    transform: translate(-50%, 20px);
    opacity: 0;
    transition: .3s;
}

.topmenu li:hover a:before {
    transform: translate(-50%, 0);
    opacity: 1;
}

.submenu {
    position: absolute;
    z-index: 4;
    left: 50%;
    top: 100%;
    width: 180px;
    padding: 30px 0 30px;
    margin-top: 5px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0,0,0,.2);
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, 20px);
    transition: .3s;
}

.topmenu > li:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0);

}

.submenu a {
    color: black;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 5px 10px;
    transition: .2s linear;
}

.submenu a:hover {
    background: rgba(255,207,0,0.64);
}

@media screen and (max-width: 980px) {
    .coupons-items {
    font-family: 'Anton', sans-serif;
    padding-left: 300px;
    padding-top: 0px;
    padding-right: 300px;
    display: inline-grid;
    gap: 27px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(300px);
    justify-content: space-around;
    font-size: 12pt;
    }
}
@media screen and (max-width: 650px) {
    .coupons-items {
    font-family: 'Anton', sans-serif;
    padding-left: 300pxpx;
    padding-top: 0px;
    padding-right: 300px;
    display: inline-grid;
    gap: 27px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(300px);
    justify-content: space-around;
    font-size: 12pt;
    }

    .topmenu > li > a {
    color: #fff;
    padding-top: 1000px;
    padding: center
    padding-left: 1000px;
    position: static;
    font-size: 1.5em;
    line-height: 1;
    letter-spacing: 3px;
    }
}


.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 100px; /* Stay at the top */
    left: 100;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
