body {
    background: url("../vendor/img/1.jpg") no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding-top: 56px;
    text-align: center;
}

.container {
    color: white;
    height: 25px;
}

.btn btn-lg{
    background-color: black;
    margin-bottom: 3.5rem;
    padding-top: 100px;
}

.row {
    padding-left: 100px;
    font-style: revert;
    padding-left: 170px;
}

.col-lg-6 {
    color: #ffffff;
}

.info {
    padding-top: 30px;
}

.mt-5 {
    font-size: 11rem;
    font-family: 'Pacifico', fantasy;
    margin: 10px 0 50px 0;
}

.navbar-brand {
    font-family: 'Pacifico', fantasy;
}

.nav-link{
    font-family: 'Pacifico', fantasy;
}

#start-purchase-btn {
    background-color: #ffffff;
    border-color: #000000;
    border-radius: 16.3rem;
    padding-top: 2px;
}

#start-purchase-link {
    font-family: Georgia, serif;
    text-decoration: none;
    color: black;
    position: static;
}

